__pycache__/*
dataset/*

!dataset/check_labels.py
!dataset/gap.py
!dataset/run_labeling.py

nodes/__pycache__/*

tools/__pycache__/*

utils/__pycache__/*

zeek-logs/*

zeek-mongo-lab/*

Reagent/*

!zeek-mongo-lab/备份指令.sh
!zeek-mongo-lab/操作流程
!zeek-mongo-lab/匹配结果
!zeek-mongo-lab/docker-compose.yml
!zeek-mongo-lab/pcap/save-payload.zeek
!zeek-mongo-lab/step1_analyze.py
!zeek-mongo-lab/step2_repair.py
!zeek-mongo-lab/step3_retry.py
!zeek-mongo-lab/step3.1_dataclean.py
!zeek-mongo-lab/step4_label_3.py
!zeek-mongo-lab/step4.5_tfusion_predict.py
!zeek-mongo-lab/step5_export_json.py


train/causal_conv1d-1.6.1+cu12torch2.10cxx11abiTRUE-cp311-cp311-linux_x86_64.whl
train/causal_conv1d-1.6.1+cu12torch2.9cxx11abiTRUE-cp311-cp311-linux_x86_64.whl
train/trl/*
train/qwen-agent-grpo-output/*